In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("pets.db") #database connection

cursor = connection.cursor() #this will help us traverse the db line by line

In [3]:
# """" helps create multiple line statements
cursor.execute("""
            create table if not exists pets (
               id integer primary key autoincrement,
               name text not null,
               type text not null,
               age integer,
               owner text
            )   
""")

# sql is transactional so we either commit or rollback 

connection.commit()

In [9]:
#inserting records
names = ("kaale", "vaale", "Ryale", "khaire")
for name in names:
    cursor.execute(""" 
        insert 
            into pets(name, type, age, owner) 
            values (?,?,?,?)               
        """,(name,"dog", 8, "bob"))

connection.commit()

In [12]:
#fetching records
cursor.execute("select * from pets where type = ?",("dog",)) #in tuple, always put a comma
rows = cursor.fetchall()
for row in rows:
    print(row)

(30, 'kaale', 'dog', 11, 'bob')
(31, 'vaale', 'dog', 8, 'bob')
(32, 'Ryale', 'dog', 8, 'bob')
(33, 'khaire', 'dog', 8, 'bob')

In [11]:
#update records
cursor.execute("""
        update pets
               set age = ?
               where name = ?               
""", (11,"kaale"))

#nothing is going to happen untill we commit it
connection.commit()

In [8]:
#deleting entries

cursor.execute("""
    delete from pets
               where type = ?
""",("dog",))

connection.commit()